@model SrgDomain.Model.Department
@{
    ViewData["Title"] = "Редагувати департамент";
}
<h2>Редагувати департамент</h2>
@if (Model.PhotoPath != null)
{
    <div class="mb-3">
        @if (!string.IsNullOrEmpty(Model.PhotoPath))
        {
            <img class="card-img-top" src="@Model.PhotoPath" alt="@Model.DepartmentName" style="max-width:200px;" />
        }
        else
        {
            <img class="card-img-top" src="/img/default-department.jpg" alt="No image" style="max-width:200px;" />
        }
    </div>
}
<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="DepartmentName" class="control-label"></label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ContactEmail" class="control-label"></label>
        <input asp-for="ContactEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CreatedDate" class="control-label"></label>
        <input asp-for="CreatedDate" class="form-control" type="datetime" />
    </div>
    <div class="form-group">
        <label>Завантажити нове фото</label>
        <input type="file" name="PhotoFile" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
    </div>
</form>
<div>
    <a class="btn btn-primary" asp-action="Index">Назад до головної</a>
</div>
