@model SrgDomain.Model.Member
@{
    ViewData["Title"] = "Редагувати учасника";
}
<h2>Редагувати учасника</h2>
@if (Model.PhotoPath != null)
{
    <div class="mb-3">
        @if (!string.IsNullOrEmpty(Model.PhotoPath))
        {
            <img class="card-img-top" src="@Model.PhotoPath" alt="@Model.Name" style="max-width:200px;" />
        }
        else
        {
            <img class="card-img-top" src="/img/default-member.jpg" alt="No image" style="max-width:200px;" />
        }
    </div>
}
<form asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ManagerId" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <input asp-for="Role" class="form-control" />
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TasksPerMonth" class="control-label"></label>
        <input asp-for="TasksPerMonth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TasksTotal" class="control-label"></label>
        <input asp-for="TasksTotal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastTaskDate" class="control-label"></label>
        <input asp-for="LastTaskDate" class="form-control" type="datetime" />
    </div>
    <div class="form-group">
        <label>Завантажити нове фото</label>
        <input type="file" name="PhotoFile" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
    </div>
</form>
<div>
    <a class="btn btn-primary" asp-controller="Managers" asp-action="Details" asp-route-id="@Model.ManagerId">Назад до менеджера</a>
</div>
