@model SrgDomain.Model.Task
@{
    ViewData["Title"] = "Створити завдання";
    int managerId = (int)ViewBag.ManagerId;
}
<h2>Створити завдання</h2>
<form asp-action="Create">
    <input type="hidden" name="ManagerId" value="@managerId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Deadline" class="control-label"></label>
        <input asp-for="Deadline" class="form-control" type="datetime" />
    </div>
    <div class="form-group">
        <input type="submit" value="Створити" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-controller="Managers" asp-action="Details" asp-route-id="@managerId">Назад до менеджера</a>
</div>
