@page
@model LoginModel
@{
    Layout = "_Layout";
}

<div class="container mt-5" style="max-width: 400px;">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-4 text-center">Логін</h3>
            <form method="post"
                  asp-route-returnUrl="@Model.ReturnUrl"
                  class="needs-validation"
                  novalidate>
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" required />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" type="password" class="form-control" required />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Логін</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        (() => {
          'use strict'
          const forms = document.querySelectorAll('.needs-validation')
          Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
              form.classList.add('was-validated')
            }, false)
          })
        })()
    </script>

}
